$cl-site-background: #f0f0f0;
$cl-white: #fff;
$cl-side_bar: #3fbcd8;
$cl-main-text: #444;
$cl-light-gray-1: #eee;
$cl-light-gray-2: #ddd;
$cl-light-gray-3: #ccc;
$cl-gray-1: #aaa;
$cl-gray-2: #888;
$cl-gray-3: #666;
$cl-button-primary: #4bd;
$cl-panel-header: #27a;
$cl-input-focus: #acf;
$cl-card-selected: #9df;

$z-order-menu: 200;
